body {
    display: flex;
    height: 100vh;
}

#root {
    height: 100%;
    width: 100%
}

.App {
    height: 100%;
    width: 100%;
}

#score-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 25%;
}

#current-score {
    
}